body{
   background-image: url(../photo/wcl.jpg);

}
footer{
    text-align: center;
    
}
main{
    text-align: center;
}
header{
    text-align: left;
   
}
aside{
margin: 30px;
}
img{
    width: 200px;
    height: 200px;
}
