body{
   background-image: url(../photo/wcl.jpg);
   display: grid;

}
footer{
    text-align: center;
    
}
article{
    color: red;
background: rgb(236, 236, 96);
}
main{
    text-align: center;
}
header{
    text-align: left;
   
}
aside{
margin: 30px;
}
img{
    width: 200px;
    height: 200px;
}
header{
    background: rgb(247, 247, 53);
    text-align: center;
    box-shadow: 10px 5px 10px 5px;
}
aside{
    background: rgb(245, 245, 121);
    margin: 10px;
   
}
button{
    color: red;
}