body{
   background-image: url(../photo/wcl.jpg);
   display: grid;
   font-family: fantasy;

}
footer{
    text-align: center;
    
}
article{
    color: red;

font-family: fantasy;
}
main{
    text-align: center;
    font-family: fantasy;
}
header{
    text-align: left;
   font-family: fantasy;
}
aside{
margin: 30px;
}
img{
    width: 150px;
    height: 150px;
}
header{

    text-align: center;
    box-shadow: 10px 5px 10px 5px;
}
aside{
    background: rgb(245, 245, 121);
    margin: 10px;
    
}
button{
    color: red;
    font-family: fantasy;
}