body{
    background: rgb(141, 233, 149);
    color: rgb(26, 8, 43);
    margin: 0 auto;
    display: grid;

}
section{
    margin: 10px 0px;
    border: 3px;
    text-align: center;
   
}
img{
    width: 360px;
    height: 220;
;
}
main{

        display: grid;   
        text-align: center;
   
}
article {
   
 grid-auto-rows:auto;
}
table{
    text-align: center;
}
